on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Add SSH key to agent
      env:
        SSH_PRIVATE_KEY: ${{ secrets.altitude-ssh }}
      run: |
        # Crear directorio .ssh si no existe
        mkdir -p ~/.ssh
        # Verificar si la clave privada est치 definida correctamente
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        # Verificar la longitud de la clave privada para asegurarse de que se ha cargado correctamente
        echo "La longitud de la clave privada es: $(wc -c < ~/.ssh/id_rsa)"
        
        # Verificar el contenido de la clave privada (solo para depuraci칩n)
        # ADVERTENCIA: no hagas esto en producci칩n, ya que puede mostrar la clave privada en los logs.
        cat ~/.ssh/id_rsa || echo "Error: No se pudo mostrar el contenido de la clave privada"
        
        # Dar permisos adecuados a la clave privada
        chmod 600 ~/.ssh/id_rsa

        # Agregar hosts conocidos (GitHub y DigitalOcean)
        ssh-keyscan -H github.com >> ~/.ssh/known_hosts
        ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts || echo "Error al obtener la clave del host DigitalOcean"

    - name: Deploy to DigitalOcean
      env:
        HOST: ${{ secrets.HOST }}
        USER: ${{ secrets.user }}
      run: |
        # Desactivar verificaci칩n de host para evitar errores de SSH
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $USER@$HOST "cd /var/www/html && git pull origin main"
